<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.diagnostics>
      <sharedListeners>
        <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" traceOutputOptions="DateTime,ProcessId" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime,ProcessId" />
        <add name="myListener" type="CustomTraceListener.CustomTraceListener, CustomTraceListener" />

        <!-- Admin permission is required for this EventLogTraceListener -->
        <!-- add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="TraceListenerLog" / -->

      </sharedListeners>

      <trace autoflush="true" indentsize="4">
        <listeners>
          <add name="fileListener" />
          <add name="consoleListener" />
          <add name="myListener" />
        </listeners>
      </trace>

      <sources>
        <source name="My Trace Source" switchValue="All">
          <listeners>
            <add name="myListener"/>
          </listeners>
        </source>
      </sources>

    </system.diagnostics>
</configuration>