<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.diagnostics>
      <trace autoflush="true" indentsize="4">  
        <listeners>
          <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" traceOutputOptions="DateTime,ProcessId" />
          <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime,ProcessId" />

          <!-- Admin permission is required for this EventLogTraceListener -->
          <!-- add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="TraceListenerLog" / -->

          <add name="myListener" type="CustomTraceListener.CustomTraceListener, CustomTraceListener" traceOutputOptions="DateTime,ProcessId" />
        </listeners>  
      </trace>  
    </system.diagnostics>   
</configuration>